.main-container {
  margin-top: 35px;
}
.card-body-container {
  width: 100%;
  height: 200px;
}
.test {
  background-color: white;
  width: 100%;
  height: 200px;
}
.twitter-icon {
  color: rgb(34, 131, 241);
  font-size: 20px;
  float: left;
}
.twitter-feed {
  float: left;
  margin-left: 20px;
  font-weight: 800;
}
.france {
  float: left;
  margin-left: 20px;
  color: rgb(203, 157, 246);
  font-weight: bold;
}
.feed-container {
  background-color: yellowgreen;
  width: 100%;
  margin-top: 50px;
}
.profile-pic {
  width: 45px;
  float: left;
}
.name-text-container {
  float: left;
  margin-left: 10px;
}
.twitter-verified-icon {
  width: 25px;
  height: 25px;
  float: left;
}
.tweet-name {
  font-weight: bolder;
  float: left;
}
.tweet-username {
  font-style: italic;
  color: lightsteelblue;
  float: left;
}
.tweet-text {
  font-size: 13px;
  float: left;
  margin-top: 5px;
  text-align: left;
  width: 100%;
  color: rgb(144, 138, 149);
}
.left-section {
  border-right: 2px solid rgb(236, 235, 235);
}
.days-section {
  width: 100%;
}
.testo {
  width: 100%;
  height: 100%;
}
.image-name-container {
  position: absolute;
  left: 100px;
}

.weather-desc-today {
  color: white;
  font-size: 20px;
  letter-spacing: 15px;
  font-weight: lighter;
}
.city-name {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  position: relative;
  top: 120px;
}
.city-wrapper {
  height: auto;
  width: auto;
  background-color: wheat;
}
.border-right {
  border-right: 1.5px solid white;
}
.humidity-wind {
  color: white;
  display: block;
  font-size: 12px;
  letter-spacing: 5px;
}
.degree-big {
  color: white;
  font-size: 160px;
}

.extra {
  height: 340px;
  overflow: auto;
}

/* Media querries */

@media (max-width: 578.99px) {
  .extra {
    height: 3240px !important;
  }
  .degree-big {
    color: white;
    font-size: 80px !important;
  }

<<<<<<< HEAD
  .city-name {
    color: white;
    font-size: 40px !important;
    font-weight: bold;
    letter-spacing: 10px;
=======
@media  only screen and (max-width: 575.98px){ 
  .extra{
    overflow-y: auto !important;
  }
 

  .albelta-col{
>>>>>>> 15270700c9c96107ffe349c656270827774367e6
    position: relative;
    top: 70px;
  }

  .humidity-wind {
    display: none;
  }
  .profile-pic {
    display: none;
  }
  .albelta-col {
    display: none;
  }
  .xsmall {
    display: none;
  }
  .name-and-tweet {
    position: relative;
    left: -50px;
  }
}

@media screen and (min-width: 567.98px) and (max-width: 767.98px) {
  .degree-big {
    color: white;
    font-size: 40px !important;
  }

  .city-name {
    color: white;
    font-size: 40px !important;
    font-weight: bold;
    letter-spacing: 10px;
    position: relative;
    top: 70px;
  }

  .humidity-wind {
    display: none;
  }
  .profile-pic {
    display: none;
  }
  .albelta-col {
    display: none;
  }
  .xsmall {
    display: none;
  }
  .name-and-tweet {
    position: relative;
    left: -50px;
  }
  .extra {
    height: 950px !important;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .extra {
    height: 640px !important;
  }

  .degree-big {
    color: white;
    font-size: 80px !important;
  }
  .city-name {
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
    position: relative;
    top: 70px;
  }

  .profile-pic {
    display: none;
  }
  .name-and-tweet {
    position: relative;
    left: -50px;
  }
}

@media screen and (min-width: 967.98px) and (max-width: 1199.98px) {
  .extra {
    height: 640px !important;
  }
  .profile-pic {
    display: none;
  }
  .name-and-tweet {
    position: relative;
    left: -50px;
  }
  .extra {
    height: 580px;
    overflow: auto;
  }
}

@media screen and (min-width: 1199.98px) and (max-width: 1399.98px) {
  .extra {
    height: 300px;
    overflow: auto;
  }
}
