.day-text {
  font-size: 20px;
  display: block;
  letter-spacing: 5px;
}
.weather-icon {
  width: 100%;
  margin-top: 20px;
}
.icon-weather {
  height: 50%;
}
.degree-text {
  display: block;
  font-weight: bold;
}
.weather-desc {
  display: block;
  letter-spacing: 5px;
}
.card-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 10px;
}
